<h1> New Rating! </h1>

<%= form_for(@rating) do |f| %>
    <%= f.label :taste %>
    <%= f.text_area :taste %>

    <%= f.label :comments %>
    <%= f.text_area :comments %>

    <%= f.label :rating %>
    <%= f.select :rating, ['1: Disgusting','2: Not good', '3: Average', '4: Pretty Good', '5: Amazing!' ] %>    

    <%= f.submit %>
<% end %>